<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="keywords" content="BStore,BS,图书,图书商城,书城,出版社直销">
<meta name="description" content="出版社直销的图书商城,去除中间商,为您提供低价正版图书">
<link rel="dns-prefetch" href="//cdn.bootcss.com">
<link rel="dns-prefetch" href="//s.galaace.com">
<link rel="dns-prefetch" href="//img.galaace.com">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?c6b0bdb46dcf724340fbfdb6e32887f7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
