.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 31px;
    font-weight: bold;
    color: #FF4C42;
    text-decoration: none;
}